.container {
    margin-top: 80px;
    /* margin: 36px auto; */
    width: 100%;
}


.search-label {
    margin-left: 450px;
    position: relative;
}

.container input {
    width: 100%;
    padding: 6px;
    font-size: 36px;
    font-style: italic;
    color: #444;
    box-sizing: border-box;
    outline: none;
}

.search-label i {
    position: absolute;
    top: 20px;
    font-size: 24px;
    color: #555;
    right: 18px;
}

.button-pagination {
    display: none;
    /* display: flex; */
}

@media only screen and (max-width: 600px) {
    .search-label {
        margin-left: 50px;
    }

    .container input {
        padding: 6px;
        font-size: 24px;
    }

    .search-label i {
        top: 14px;
        font-size: 15px;
    }
}