.main {
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.main-left {
    flex-grow: 2;
    background: linear-gradient(rgba(43, 21, 107, 0.8),
            rgba(43, 21, 107, 0.8)), url('https://cdn.britannica.com/60/182360-050-CD8878D6/Avengers-Age-of-Ultron-Joss-Whedon.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

.img-title-left {
    padding-top: 50px;
    padding-left: 100px;
    width: 45%;
}

.text-title-left {
    padding-top: 70px;
    padding-left: 100px;

    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.003em;
    color: #FFFFFF;
}

.paragraf {
    padding-left: 100px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.7);
}

.circle {
    margin-top: 70px;
    margin-left: 100px;
    height: 50px;
    width: 50px;
    background: #FFFFFF;
    border-radius: 100%;
    padding-top: 10px;
    text-align: center;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.005em;
    color: rgba(41, 3, 65, 0.5);
}

.circle-outline {
    margin-left: 100px;
    height: 50px;
    width: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 100%;
    padding-top: 9px;
    text-align: center;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.005em;
    color: #FFFFFF;
}

.line-vertical {
    margin-left: 124px;
    width: 0px;
    height: 48px;
    border: 1px #FFFFFF solid;
}

.title-paragraf {
    position: absolute;
    margin-top: -335px;
    margin-left: 200px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.005em;

    color: #FFFFFF;
}

.paragraf-title {
    position: absolute;
    margin-top: -235px;
    margin-left: 200px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.005em;

    color: rgba(255, 255, 255, 0.6);
}

.paragraf-subtitle {
    position: absolute;
    margin-top: -140px;
    margin-left: 200px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.005em;
    color: rgba(255, 255, 255, 0.6);
}

.paragraf-subtitles {
    position: absolute;
    margin-top: -45px;
    margin-left: 200px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.005em;
    color: rgba(255, 255, 255, 0.6);
}


/* main right */
.main-right {
    flex-grow: 1;
    padding: 100px 50px;
}

.img-title-mobile {
    display: none;

}

.text-title-right {
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 0.005em;
    color: #121212;
}

.text-title-right-mobile {
    display: none;
}

.right-paragraf {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.005em;
    color: #8692A6;
}







label {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4E4B66;

}

input {
    background: #FCFDFE;
    width: 100%;
    padding: 1em;
    margin-bottom: 0.5rem;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 16px;
}


.btn-submit {
    width: 100%;
    padding: 1em;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 16px;
    font-family: Mulish;
    color: #F7F7FC;
    font-style: normal;
    font-weight: bold;
    background: #5F2EEA;
    margin-top: 28px;
    margin-bottom: 1rem;

}

@media only screen and (max-width: 600px) {
    .main {
        height: 600px;
    }

    .main-left,
    .text-title-right {
        display: none;
    }

    .img-title-mobile {
        display: inline;
        margin-top: -30px;
        margin-bottom: 120px;
    }

    .btn-submit {
        margin-top: 30px;
    }

    .text-title-right-mobile {
        display: inline;
        font-family: Mulish;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 33px;
        letter-spacing: 0.005em;
        margin-left: -85px;
        color: #000000;
    }

    .right-paragraf {
        margin-top: -30px;
        margin-bottom: 40px;
        font-family: Mulish;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 19px;
        letter-spacing: 0.1px;
    }
}