.card-now-showing {
    width: 223px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 24px !important;
    margin-top: 10px;
    padding-left: 10px;

}

.card-now-showing:hover div {
    height: 150px;
    /* background: #FFFFFF; */
    margin-top: -20px !important;
    box-shadow: 0px 8px 30px rgba(186, 186, 186, 0.25);
    display: inline;
}

.card-title {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #14142B;
}

.card-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px !important;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #A0A3BD !important;
}

.card-img {
    height: 244px !important;
    width: 159px !important;
    margin: 20px !important;
}

#scrolling-nowShowing {
    overflow-x: auto;

}

::-webkit-scrollbar {
    width: 12px;

}

::-webkit-scrollbar-thumb {
    background-color: #5F2EEA;
    border-radius: 20px;
    border: 3px solid white;

}

.title-movies,
.button-movies {
    display: none;
}

.title-movies h1 {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #14142B;
}

.title-movies p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px !important;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #A0A3BD !important;
}