.main {
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.main-left {
    flex-grow: 2;
    background: linear-gradient(rgba(43, 21, 107, 0.8),
            rgba(43, 21, 107, 0.8)), url('https://cdn.britannica.com/60/182360-050-CD8878D6/Avengers-Age-of-Ultron-Joss-Whedon.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

.img-title-left {
    padding-top: 50px;
    padding-left: 100px;
    width: 45%;
}

.text-title-left {
    padding-top: 70px;
    padding-left: 100px;

    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.003em;
    color: #FFFFFF;
}

.paragraf {
    padding-left: 100px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.7);
}

.circle {
    margin-top: 70px;
    margin-left: 100px;
    height: 50px;
    width: 50px;
    background: #FFFFFF;
    border-radius: 100%;
    padding-top: 10px;
    text-align: center;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.005em;
    color: rgba(41, 3, 65, 0.5);
}

.circle-outline {
    margin-left: 100px;
    height: 50px;
    width: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 100%;
    padding-top: 9px;
    text-align: center;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.005em;
    color: #FFFFFF;
}

.line-vertical {
    margin-left: 124px;
    width: 0px;
    height: 48px;
    border: 1px #FFFFFF solid;
}

.paragraf-title {
    position: absolute;
    margin-top: -235px;
    margin-left: 200px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.005em;

    color: #FFFFFF;
}

.paragraf-subtitle {
    position: absolute;
    margin-top: -140px;
    margin-left: 200px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.005em;
    color: rgba(255, 255, 255, 0.6);
}

.paragraf-subtitles {
    position: absolute;
    margin-top: -45px;
    margin-left: 200px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.005em;
    color: rgba(255, 255, 255, 0.6);
}


/* main right */
.main-right {
    flex-grow: 1;
    padding: 100px 50px;
}

.img-title-mobile {
    display: none;

}

.text-title-right {
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 0.005em;
    color: #121212;
}

.text-title-right1 {
    display: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.005em;
    color: #121212;
}

.check-box {}

.text-subtitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 10px;
    letter-spacing: 0.007em;
    color: #AAAAAA;
    padding-bottom: 20px;
    padding-top: 25px;
}

.text-forgot {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.005em;
    color: #8692A6;
}

.or {
    display: flex;
}

.text-or {
    flex-grow: 1;
    margin-bottom: auto;
    margin-top: auto;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.005em;
    color: #AAAAAA;
}

hr {
    flex-grow: 1;
    border: 1px solid#DEDEDE;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.005em;
    color: #A0A3BD;
}

.btn-google {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    margin-right: 20px;
    height: 64px;
    width: 182px;
    border-radius: 4px;

}

.btn-google img {
    position: absolute;
    padding-right: 50px;
    padding-left: 10px;
    padding-top: 18px;
}

.text-btn {
    position: absolute;
    padding-top: 20px;
    margin-bottom: 60px;
    margin-left: 60px;
}


.btn-fb {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    margin-right: 20px;
    height: 64px;
    width: 182px;
    border-radius: 4px;
}

.btn-fb img {
    position: absolute;
    padding-right: 50px;
    padding-left: 10px;
    padding-top: 18px;
}


.form-group .form-control {
    width: 100%;
    box-sizing: border-box;
    border-radius: 16px;
}

.form-group {
    position: relative;
}

.form-group i {
    position: absolute;
    top: 75px;
    right: 35px;
    z-index: 2;
    display: block;
    /* ukuran icon */
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    cursor: pointer;
    color: #4E4B66;
}

label {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4E4B66;

}

input {
    background: #FCFDFE;
    width: 100%;
    padding: 1em;
    margin-bottom: 0.5rem;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 16px;
}

.terms {
    margin-left: -205px !important;
    margin-top: 30px !important;
}

.text-term {
    position: absolute;
    margin-top: 25px !important;
    margin-left: -195px !important;
}

.btn-submit {
    width: 100%;
    padding: 1em;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 16px;
    font-family: Mulish;
    color: #F7F7FC;
    font-style: normal;
    font-weight: bold;
    background: #5F2EEA;
    margin-top: 28px;
    margin-bottom: 1rem;

}

@media only screen and (max-width: 600px) {
    .main-left {
        display: none;
    }

    .img-title-mobile {
        display: inline;
        margin-top: -30px;
        margin-bottom: 120px;
    }


    .form-group i {
        top: 46px;
        right: 15px;
    }

    .terms {
        position: absolute;
        left: 75px;
    }

    .text-term {
        left: 300px;
    }

    .text-title-right {
        display: none;
    }

    .text-title-right1 {
        display: inline;
        margin-left: -80px;
    }

    .text-subtitle {
        display: none;
    }

    .form-group span {
        margin-left: 250px;
    }

    .btn-submit {
        margin-top: 90px;
    }

    .btn-google {
        height: 64px;
        width: 64px;
        left: 0px;
        top: 0px;
        border-radius: 12px;
    }

    .btn-fb {
        height: 64px;
        width: 64px;
        border-radius: 12px;
    }

    .btn-google img {
        padding-left: 17px;
    }

    .btn-fb img {
        padding-left: 17px;
    }

    .text-btn {
        display: none;
    }
}