.now-showing {
    height: 450px;
    margin-top: 100px;
}

.up-coming {
    height: 1800px;
    margin-top: 100px;
}

.title-NowShowing {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #5F2EEA;
}

.title-up-coming {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #14142B;
}

.sub-title {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.15px;
    color: #5F2EEA;
}

@media only screen and (max-width: 600px) {
    #card {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;

    }

    ::-webkit-scrollbar {
        width: 12px;
        /* background: transparent; */
        /* width of the entire scrollbar */
    }

    ::-webkit-scrollbar-thumb {
        background-color: #5F2EEA;
        border-radius: 20px;
        border: 3px solid white;

    }
}