.main {
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.main-left {
    flex-grow: 2;
    background: linear-gradient(rgba(43, 21, 107, 0.8),
            rgba(43, 21, 107, 0.8)), url('https://cdn.britannica.com/60/182360-050-CD8878D6/Avengers-Age-of-Ultron-Joss-Whedon.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

.img-title-left {
    padding-top: 250px;
    padding-left: 100px;
    opacity: 0.9;
}

.text-title-left {
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 20px;
    letter-spacing: 0.003em;
    color: rgba(255, 255, 255, 0.8);
}


/* main right */
.main-right {
    flex-grow: 1;
    padding: 100px 50px;
}

.img-title-mobile {
    display: none;
}

.text-title-right {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 10px;
    letter-spacing: 0.003em;
    color: #121212;
}

.text-subtitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 10px;
    letter-spacing: 0.007em;
    color: #AAAAAA;
    padding-bottom: 20px;
    padding-top: 25px;
}

.text-forgot {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.005em;
    color: #8692A6;
}

.or {
    display: flex;
}

.text-or {
    flex-grow: 1;
    margin-bottom: auto;
    margin-top: auto;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.005em;
    color: #AAAAAA;
}

hr {
    flex-grow: 1;
    border: 1px solid#DEDEDE;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.005em;
    color: #A0A3BD;
}

.btn-google {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    margin-right: 20px;
    height: 64px;
    width: 182px;
    border-radius: 4px;

}

.btn-google img {
    position: absolute;
    padding-right: 50px;
    padding-left: 10px;
    padding-top: 18px;
}

.text-btn {
    position: absolute;
    padding-top: 20px;
    margin-bottom: 60px;
    margin-left: 60px;
}


.btn-fb {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    margin-right: 20px;
    height: 64px;
    width: 182px;
    border-radius: 4px;
}

.btn-fb img {
    position: absolute;
    padding-right: 50px;
    padding-left: 10px;
    padding-top: 18px;
}


.form-group .form-control {
    width: 100%;
    box-sizing: border-box;
    border-radius: 16px;
}

.form-group i {
    position: absolute;
    top: 382px;
    right: 65px;
    z-index: 2;
    display: block;
    /* ukuran icon */
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    cursor: pointer;
    color: #4E4B66;
}

label {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4E4B66;

}

input {
    background: #FCFDFE;
    width: 100%;
    padding: 1em;
    margin-bottom: 0.5rem;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 16px;
}

.btn-submit {
    width: 100%;
    padding: 1em;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 16px;
    font-family: Mulish;
    color: #F7F7FC;
    font-style: normal;
    font-weight: bold;
    background: #5F2EEA;
    margin-top: 28px;
    margin-bottom: 1rem;
}

.btn-signup {
    width: 100%;
    padding: 1em;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 16px;
    font-family: Mulish;
    color: #F7F7FC;
    font-style: normal;
    font-weight: bold;
    background: #8692A6;
    margin-top: 22px;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
    .main-left {
        display: none;
    }

    .img-title-mobile {
        display: inline;
    }

    .text-title-right {
        font-family: Mulish;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 33px;
        letter-spacing: 0.005em;
        color: #121212;
    }

    .text-subtitle {
        display: none;
    }

    .form-group i {
        top: 315px;
    }

    .btn-google {
        height: 64px;
        width: 64px;
        left: 0px;
        top: 0px;
        border-radius: 12px;
    }

    .btn-fb {
        height: 64px;
        width: 64px;
        border-radius: 12px;
    }

    .btn-google img {
        padding-left: 17px;
    }

    .btn-fb img {
        padding-left: 17px;
    }

    .text-btn {
        display: none;
    }
}