.subscribes {
    height: 400px;
    margin-top: 100px;
    background: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(186, 186, 186, 0.3);
    border-radius: 24px;
    margin-top: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.title {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 114%;
    letter-spacing: 0.25px;
    color: #4E4B66;
}

.title span {
    font-weight: bold;
    color: #5F2EEA;
    font-size: 45px;
    line-height: 20px;
}

.form-email {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.form-inline-custom {
    border: 0px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 12px;
    height: 53px;
    width: 306px;
    left: 332px;
    top: 183px;
    margin-right: 20px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.75px;
    color: #A0A3BD;

}


.text-subcribes {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #6E7191;
}

#scrolling-nowShowing {
    overflow-x: auto;

}

::-webkit-scrollbar {
    width: 12px;
    /* background: transparent; */
    /* width of the entire scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #5F2EEA;
    border-radius: 20px;
    border: 3px solid white;

}

@media only screen and (max-width: 600px) {
    .subscribes {
        height: 400px;
        margin-top: 100px;
        background: #FFFFFF;
        box-shadow: 0px 16px 32px rgba(186, 186, 186, 0.3);
        border-radius: 16px;
        margin-top: 100px;
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: center;
    }

    .title {
        font-family: Mulish;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.75px;
        color: #4E4B66;
    }

    .title span {
        font-size: 30px;
        font-weight: bold;
        line-height: 0px;
    }

    .form-email {
        flex-wrap: wrap;
    }
}