.showTimes {
    height: 100%;
    margin-top: 150px;
    padding-top: 30px;
    text-align: center;
}

.title-show {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.25px;
    padding-bottom: 20px;
    color: #14142B;
}

.dropdown-show {
    display: flex;
    justify-content: center;
}

.dropdown-showTimes {
    margin-right: 30px;
    border-radius: 16px;
    height: 56px;
    width: 250px;
    left: 0px;
    top: 0px;
    border-radius: 16px;
    border: 0px !important;
    width: 284px;
    border-radius: 16px;
    background: #EFF0F6 !important;
    font-family: Mulish !important;
    font-style: normal;
    font-weight: 600;
    font-size: 16px !important;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: #4E4B66 !important;

}

.dropdown-location {
    display: flex;
    height: 56px;
    width: 284px;
    border-radius: 16px;
    background: #EFF0F6;
    border-radius: 16px;
}

.button-location {
    border: 0px !important;
    width: 284px;
    border-radius: 16px;
    background: #EFF0F6 !important;
    border-radius: 16px !important;
    font-family: Mulish !important;
    font-style: normal;
    font-weight: 600;
    font-size: 16px !important;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: #4E4B66 !important;
}

#marker {
    position: absolute;
    padding-left: 40px;
    padding-top: 20px;
    color: #4E4B66;
}

.schedule {
    padding-top: 20px;
    background: white !important;

    height: 100%;
}

.card-schedule {
    height: 350px;
    width: 361px !important;
    border-radius: 24px;
    margin-right: 10px;
    margin-bottom: 20px;
}


.card-schedule-special {
    height: 350px;
    width: 350px;
    margin-right: 10px;
    margin-bottom: 20px;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(186, 186, 186, 0.24);
    border-radius: 24px;
}

.title-schedule {
    display: flex;
    padding-top: 20px;
}

.title-img {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 40px;
}

.title-schedule .title {
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.75px;
    color: #000000;
}

.sub-title {
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.75px;
    color: #6E7191;
}

/* .detail-date {
    display: flex;
} */

.title-date {
    padding-left: 25px;
    padding-right: 5px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 23px;
    letter-spacing: 0.75px;
    cursor: pointer;
}

.title-date-active {
    padding-left: 25px;
    padding-right: 5px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 23px;
    letter-spacing: 0.75px;
    cursor: pointer;
    color: #5F2EEA;
}

.detail-price {
    display: flex;
}

.text-price {
    padding-left: 30px;
    padding-right: 140px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.75px;
    color: #6B6B6B;
}

.text-price1 {
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.75px;
    color: #000000;
}

.detail-booking {
    display: flex;
}


.text-booking {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: #5F2EEA;
    padding-left: 80px;
    padding-top: 10px;
}

.line-schedule {
    display: flex;
    padding-top: 30px;
}

.text-schedule {
    flex-grow: 1;
    margin-bottom: auto;
    margin-top: auto;
    text-align: center;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.75px;
    color: #5F2EEA;
}

.line-schedule hr {
    flex-grow: 2;
    /* padding-bottom: 50px; */
    border: 1px solid #DEDEDE;
    transform: rotate(180deg);
}

.line-hr {
    border: 0.5px solid #DEDEDE;
}


@media only screen and (max-width: 600px) {
    .showTimes {
        margin-top: -70px;
        padding-top: -50px;
        background: #F5F6F8;
        height: 100%;
    }

    .title-show {
        font-size: 18px;
        line-height: 34px;
        letter-spacing: 0.75px;
    }

    .dropdown-show {
        display: inline;

    }

    .dropdown-showTimes {
        margin-right: auto;
        margin-bottom: 10px;
        margin-left: auto;
        background: #EFF0F6;
        height: 48px;
        width: 260px;
        border-radius: 4px;
    }

    .dropdown-location {
        margin-right: auto;
        margin-bottom: 10px;
        margin-left: auto;
        background: #EFF0F6;
        height: 48px;
        width: 260px;
        border-radius: 4px;
    }

    .schedule {
        background: #F5F6F8 !important;
        height: 100%;
    }

    .card-schedule {
        margin-left: auto;
        margin-right: auto;
        background: #FFFFFF;
        border-radius: 8px;
        box-shadow: 0px 8px 16px rgba(186, 186, 186, 0.24);

    }

    .card-schedule-1 {
        display: none;
    }

    .card-schedule-2 {
        display: none;
    }

    .card-schedule-special {
        display: none;
    }
}

/* shotimes-mobile */