.footer {
    height: 400px;
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.text-title-footer {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #000000;
    padding-top: 30px;
    padding-bottom: 15px;
}

.text-footer {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.75px;
    color: #6E7191;
}

.text-subtitle-footer {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #4E4B66;
}

.text-subtitle-footer-subtitle {
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #6E7191;
    margin-left: 20px;
}

.text-footer-copyright {
    text-align: center;
    padding-top: 30px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #4E4B66;
}

.img-footer {
    padding-bottom: 30px;
    margin-right: 10px;
}

#fb {
    color: blue;
}

#ig {
    color: rgb(184, 104, 1);
}

#twitter {
    color: skyblue;
}

#yt {
    color: red;
}


@media only screen and (max-width: 600px) {

    .footer {
        height: 400px;
        margin-top: 80px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .text-title-footer {
        font-family: Mulish;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.75px;
        color: #000000;
        padding-top: 30px;
        padding-bottom: 15px;
    }

    .text-footer {
        font-family: Mulish;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.75px;
        color: #6E7191;
    }

    .explore {
        display: flex;
        justify-content: space-around;
    }

    .text-subtitle-footer {
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 0.75px;
        color: #6E7191;
    }

    .text-subtitle-footer-subtitle {
        display: none;
    }

    .text-footer-copyright {
        text-align: left;
        padding-bottom: 20px;
    }

    #follow-us {
        display: flex;
    }

    #title-follow-us {
        margin-top: 80px;
        padding-right: 100px;
        margin-left: -50px;
    }

    .img-footer {
        padding-right: 20px;
        padding-bottom: 30px;
        width: 30%;
    }
}